:root{
   --cor-fundo:#015096;
   --cor-principal:#0B0D20;
    --cor-secundaria:#6c73a5;
   --cor-destaque:#ffe600;
   --cor-texto:#ffffff;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh
} 

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
}

.caixa-perguntas{
    background-color: var(--cor-texto);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}
